.vs/FSC-tools.slnx/FileContentIndex/20f741ef-a141-4171-aa02-4a27ea6b343c.vsidx
.vs/FSC-tools.slnx/FileContentIndex/38328fb8-2de8-4b49-b6a3-4703f51406ff.vsidx
.vs/FSC-tools.slnx/FileContentIndex/5d9df215-fa5f-4c5a-a089-f226c5dbb03a.vsidx
.vs/FSC-tools.slnx/FileContentIndex/609bd1d5-3c63-4dde-920a-f2f712aa1cb8.vsidx
.vs/FSC-tools.slnx/FileContentIndex/a6657e27-9278-4d81-919d-cb10678a7572.vsidx
.vs/FSC-tools.slnx/v18/.wsuo
.vs/FSC-tools.slnx/v18/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
__pycache__/FSCtypes.cpython-313.pyc
__pycache__/InfoBlocks.cpython-313.pyc
*.fsc
.vs/FSC-tools.slnx/FileContentIndex/994b2b83-758b-4465-87ac-2a43a65e41f5.vsidx
.vs/FSC-tools.slnx/FileContentIndex/c260ecf3-b95d-4b8d-a0a4-cd27970f8e76.vsidx
*.vsidx
